{{!-- <h2>Welcome to NbDNp</h2>
<h3>{{{title}}}</h3> --}}


<div class="container  bg-dark text-white bg-opacity-75">
    <div class="row bg-dark">
        <div class="col col-lg-2">

        </div>
        <div class="col-md-center">
            <h1 class="text-center font-monospace " style="color: rgb(202, 202, 202);">Library Management System
            </h1>
        </div>
        <div class="col col-lg-2">

        </div>

    </div>
    <div class="row">

        <hr>

        <h3  style="color: rgb(255, 94, 94);">Update Book Details</h3>
        <br> <br> <br>
        <div class="col-md-2"></div>

        <div class="col-md-8">

            {{#each books}}



            {{/each}}


        </div>
        <div class="col-md-2"></div>

    </div>

</div>